@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
    --blue: #030e4f;
    --yellow:#F49F1C;
    --black: #000000;
    --white: #fff;
    --gray: #DCDCDC;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Poppins;
 
}


body{
   background-color: #f3f5f9;
}


.logo {
  height: 8rem;
  width: 8rem;
}


.wrapper{
  display: flex;
  position: relative;
}


.sidebar{
  width: 450px;
  height: 100%;
  background: var(--blue);
  padding: 30px 95px;
  margin-right: 200px;
  margin-bottom: 50px;
  position: fixed;
  text-align: center;
}


.wrapper .sidebar .info1{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}


.wrapper .sidebar .info1 h3{
    padding-bottom: 60px;
    line-height: 35px;
    color: var(--yellow);
    font-size: 22px;
}






.wrapper .sidebar a.active{
    padding: 12px;
  border: 1px solid var(--black);
 background-color: var(--yellow);
  margin-bottom: 25px;
  width: 250px;
  border-radius: 40px 40px;


}
.wrapper .sidebar a{
  padding: 12px;
  border: 1px solid var(--black);
 background-color: var(--white);
  margin-bottom: 25px;
  width: 250px;
  border-radius: 40px 40px;
 
}    


.wrapper .sidebar ul li a{
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    display: block;
}




.wrapper .sidebar ul li a:hover{
  background-color: var(--yellow);
}


.wrapper .main_content{
  width: 110%;
  padding-left: 250px;
}


#content1, #content2 {
  display: none;
}


.wrapper .main_content .header1{
  margin-left: 200px;
  padding: 30px 50px;
  background: var(--gray);
  height: 200px;


}
.wrapper .main_content .header1 h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--blue);
  border-bottom: 1px solid #e0e4e8;
}


h4{
    font-size: 20px;
}


.ref-fetch {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}




.ref_num {
    border: 2px solid #C7C7C7;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
    color: #000;
}




.ref_num:hover {
    background-color: #e7e7e7;
}


.summary{
  margin-top: 80px;
}




.dropdown {
  position: relative;
  display: inline-block;
}




.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}




.dropdown:hover .dropdown-content {
  display: block;
}




.AppInfo{
  color: #E5900F;
  font-weight: bold;
  font-size: 20px;
  background-color: #030e4f;
  padding: 10px;
  margin-bottom: 10px;
}






.Con{
  color: #E5900F;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  background-color: #030e4f;
  padding: 10px;
  margin-bottom: 10px;
}




.Set{
  color: #E5900F;
  font-weight: bold;
  font-size: 20px;
  background-color: #030e4f;
  margin-bottom: 10px;
  padding: 0.8rem;
}




.Req{
  color: #E5900F;
  font-size: 18px;
  background-color: #030e4f;
  margin-bottom: 25px;
}


.text {
padding: 1rem;
font-weight: bold;
}


.pdocu {
color: black;
}


.flex{
    display: flex;
    margin-top: 5px;
    background-color: #C7C7C7;
    margin-top: -10px;
    padding: 10px;
}




.flex1{
    display: flex;
    margin-top: 10px;
    background-color: #C7C7C7;
    margin-top: -10px;
    padding: 10px;
    margin-bottom: 50px;
}




.flex2{
    display: flex;
    margin-top: 5px;
    background-color: #C7C7C7;
    margin-top: -10px;
    padding: 10px;
    margin-bottom: 50px;
}


.flex3{
    display: flex;
    margin-top: 5px;
    background-color: #C7C7C7;
    margin-top: -10px;
    padding: 10px;
    margin-bottom: 50px;
}


.space{
    margin-left: 130px;
}








.space1{
    margin-left: 118px;
}




.space2{
    margin-left: 140px;
}


.space3{
    margin-left: 165px;
}




.datec{
    margin-left: 200px;
}








 
#progress-select{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 12px;
    width: 10.2rem;
    border: solid 1.5px black;
}




#date{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 12px;
    width: 10.2rem;
    border: solid 1.5px black;
}




#status-select{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 12px;
    width: 10.2rem;
    border: solid 1.5px black;
}




.update {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 150px;
    margin-bottom: 50px;
}




.backbtn {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 12px;
    width: 6.2rem;
    border: solid 1.5px black;
    background-color: #c17b12;
    color: #fff;
    text-align: center;
    font-size: 15px;
    border: none;
}






.up {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 12px;
    width: 6.2rem;
    border: solid 1.5px black;
    background-color:  #c17b12;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}




.up:hover,
.backbtn:hover {
  background-color: #c1c1c1;
}




label{
    font-weight: bold;
}


.maincontent{
  margin-top: 100px;
  position: relative;
}


.mainstatus {
  background-color: #C7C7C7;
  margin-bottom: 50px;
}


.row-text {
  padding: .6rem;
}


.maindocu{
    margin-top: -194px;
}


.pstat{
    background-color: #C7C7C7;
    margin-top: -10px;
    padding-top: 10px;
}


.pdocu{
    background-color: #C7C7C7;
    margin-top: -10px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-top: 10px;
}


#status-select,
#progress-select {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 12px;
    width: 10.2rem;
    border: none; /* Remove the border */
    background-color:  #c17b12;
    color: #fff;
}




.receipt {
  width: 20rem;
}




.popup{
  width: 900px;
  margin: auto;
  text-align: center
}
.popup img{
  width: 400;
  height: 200px;
  cursor: pointer
}
.show{
  z-index: 999;
  display: none;
}
.show .overlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.66);
  position: absolute;
  top: 0;
  left: 0;
}
.show .img-show{
  width: 600px;
  height: 400px;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden
}
.img-show span{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
}
.img-show img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*End style*/




.pop-up-image {
  width: auto;
  height: 50rem;
}

