@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


:root{
    --blue: #030e4f;
    --yellow:#F49F1C;
    --black: #000000;
    --white: #fff;
    --gray: #DCDCDC;
}




*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
   
}


table {
    padding: 2rem;
}


table td{
    padding: .2rem .5rem;    
}


table thead {
    color:#F8A01C;
    font-weight: bold;
    font-size: 22px;
}
.col{
    display: flex;
}


.flex{
    margin-left: 60px;
    margin-top: 30px;
}


.input-flex {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.input-field {
    display: flex;
    gap: 1rem;
    margin: .5rem 0rem;
}


input{
    margin-top: 10px;
    padding: .2rem;
    border: 2px solid black;
    border-radius: 50%;
}


.input-flex1{
    margin-top: 10px;
}


.price-list{
    margin-top: 10px;
}
.flex h2{
    color: #E5900F;
    margin-bottom: 15px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.document-container{
    height: 980px;
    width: 890px;
    background-color: #fff;
    box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin: 4rem;
    position: relative;
    overflow: hidden;
}


.header-container {
    background-color: #030D4E;
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}


.head h1{
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}


.amountext{
    font-weight: bold;
    color: #E5900F;
    margin-top: 20px;
}


.amountspace{
    margin-top: -15px;
}


.note{
    margin-left: 3rem;
}


.note p{
    color:#030D4E;
    font-weight: bold;
}


span{
    color: #E5900F;
}


input[type="number"]{
    text-align: center;
}


.content{
    border-radius: 12px;
    border: solid 1.5px black;
    width: 150px;
}


.content1{
    border-radius: 12px;
    border: solid 1.5px black;
    width: 100px;
}


.backbtn{
    background-color: #c1c1c1;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 16px;
    cursor: pointer;
    margin: 1rem;
    position: absolute;
    border-radius: 12px;
    margin-left: 640px;
    transition: 0.3s;
    text-decoration: none;
    color: #000;
    font-size: 16px;
}


.submit-btn{
    background-color: #F8A01C;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 16px;
    cursor: pointer;
    margin: 1rem;
    position: absolute;
    border-radius: 12px;
    margin-left: 740px;
    transition: 0.3s;
    text-decoration: none;
    color: #000;
    font-size: 16px;
}


.button{
    margin-left: -40px;
}


.submit-btn:hover{
    background-color: #c1c1c1;
}


.backbtn:hover{
    background-color: #c1c1c1;
}


/* POPUP STYLE */
.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(0%, 0%) scale(1);
    text-align: center;
    padding: 2rem;
    visibility: hidden;
    /* transition: transform 0.3s, top 0.4s; */
    box-shadow: 0px 19px 46px 13px rgba(0,0,0,0.1);
    /* transition-delay: 100ms; */
    z-index: 999;
}




.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}


.popup h2 {
    color: #E5900F;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
}


.popup img {
    margin-bottom: 1rem;
    position: absolute;
    top: -30%;
    left: 30%;
}


.popup p {
    margin-bottom: 1rem;
}


#generate-pdf {
    background-color:var(--blue);
    border-radius: 12px;
    /* padding: .2rem .6rem; */


    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.bold-text {
    font-weight: bold;
    color: var(--blue);
    font-size: 20px;
}


#ref_num {
    font-size: 22px;
    color: #030D4E;
    font-weight: bold;
}


.popup button {
    padding: 0.6rem;
    width: 5rem;
    border-radius: 12px;
    background-color: #E5900F;
    border: none;
    outline: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
